  <!-- {% debutblock content %} -->
      <div class="container mt-5 mb-md-4 py-5">
        <!-- Breadcrumb-->
        <nav class="mb-3 pt-md-3" aria-label="Breadcrumb">
          <ol class="breadcrumb breadcrumb-light">
            <li class="breadcrumb-item"><a href="#">Accueil</a></li>
            <li class="breadcrumb-item"><a href="achat-vehicule-par-grille.html">Véhicules</a></li>
            <li class="breadcrumb-item active" aria-current="page">Mercedes-Benz E 400 Cabriolet</li>
          </ol>
        </nav>
        <!-- Title + Sharing-->
        <div class="d-sm-flex align-items-end align-items-md-center justify-content-between position-relative mb-4" style="z-index: 1025;">
          <div class="me-3">
            <h1 class="h2 text-light mb-md-0"> Mercedes-Benz E 400 Cabriolet</h1>
            <div class="d-md-none">
              <div class="d-flex align-items-center mb-3">
                <div class="h3 mb-0 text-light">17 819 558 Franc CFA</div>
                <div class="text-nowrap ps-3"><span class="d-table badge " style="background-color: #fd5631" data-bs-toggle="popover" data-bs-placement="bottom" data-bs-trigger="hover" data-bs-html="true" data-bs-content="&lt;div class=&quot;d-flex&quot;&gt;&lt;i class=&quot;fi-award mt-1 me-2&quot;&gt;&lt;/i&gt;&lt;div&gt;cette voiture&lt;br&gt;est en vente.&lt;/div&gt;&lt;/div&gt;">En Vente</span></div>
              </div>
              <div class="d-flex flex-wrap align-items-center text-light mb-2">
                <div class="text-nowrap border-end border-light pe-3 me-3"><i class="fi-dashboard fs-lg opacity-70 me-2"></i><span class="align-middle">25 Km</span></div>
                <div class="text-nowrap"><i class="fi-map-pin fs-lg opacity-70 me-2"></i><span class="align-middle">Abidjan</span></div>
              </div>
            </div>
          </div>
          <div class="text-nowrap pt-3 pt-sm-0">
            <button class="btn btn-icon btn-translucent-light btn-xs rounded-circle mb-sm-2" type="button" data-bs-toggle="tooltip" title="Ajouter à mes favoris"><i class="fi-heart"></i></button>
            <div class="dropdown d-inline-block" data-bs-toggle="tooltip" title="Share">
              <button class="btn btn-icon btn-translucent-light btn-xs rounded-circle ms-2 mb-sm-2" type="button" data-bs-toggle="dropdown"><i class="fi-share"></i></button>
              <div class="dropdown-menu dropdown-menu-dark dropdown-menu-end my-1">
                <button class="dropdown-item" type="button"><i class="fi-facebook fs-base opacity-75 me-2"></i>Facebook</button>
                <button class="dropdown-item" type="button"><i class="fi-twitter fs-base opacity-75 me-2"></i>Twitter</button>
                <button class="dropdown-item" type="button"><i class="fi-instagram fs-base opacity-75 me-2"></i>Instagram</button>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-7">
            <!-- Gallery-->
            <div class="tns-carousel-wrapper">
              <div class="tns-slides-count text-light"><i class="fi-image fs-lg me-2"></i>
                <div class="ps-1"><span class="tns-current-slide fs-5 fw-bold"></span><span class="fs-5 fw-bold">/</span><span class="tns-total-slides fs-5 fw-bold"></span></div>
              </div>
              <div class="tns-carousel-inner" data-carousel-options="{&quot;navAsThumbnails&quot;: true, &quot;navContainer&quot;: &quot;#thumbnails&quot;, &quot;gutter&quot;: 12, &quot;responsive&quot;: {&quot;0&quot;:{&quot;controls&quot;: false},&quot;500&quot;:{&quot;controls&quot;: true}}}">
                <div><img class="rounded-3" src="{% static 'users/img/car-finder/single/gallery/01.jpg' %}" alt="Image"></div>
                <div><img class="rounded-3" src="{% static 'users/img/car-finder/single/gallery/02.jpg' %}" alt="Image"></div>
                <div><img class="rounded-3" src="{% static 'users/img/car-finder/single/gallery/03.jpg' %}" alt="Image"></div>
                <div><img class="rounded-3" src="{% static 'users/img/car-finder/single/gallery/04.jpg' %}" alt="Image"></div>
                <div><img class="rounded-3" src="{% static 'users/img/car-finder/single/gallery/05.jpg' %}" alt="Image"></div>
                <div><img class="rounded-3" src="{% static 'users/img/car-finder/single/gallery/06.jpg' %}" alt="Image"></div>
                <div><img class="rounded-3" src="{% static 'users/img/car-finder/single/gallery/07.jpg' %}" alt="Image"></div>
                <div><img class="rounded-3" src="{% static 'users/img/car-finder/single/gallery/08.jpg' %}" alt="Image"></div>
              </div>
            </div>
            <ul class="tns-thumbnails" id="thumbnails">
              <li class="tns-thumbnail"><img src="{% static 'users/img/car-finder/single/gallery/th01.jpg' %}" alt="Thumbnail"></li>
              <li class="tns-thumbnail"><img src="{% static 'users/img/car-finder/single/gallery/th02.jpg' %}" alt="Thumbnail"></li>
              <li class="tns-thumbnail"><img src="{% static 'users/img/car-finder/single/gallery/th03.jpg' %}" alt="Thumbnail"></li>
              <li class="tns-thumbnail"><img src="{% static 'users/img/car-finder/single/gallery/th04.jpg' %}" alt="Thumbnail"></li>
              <li class="tns-thumbnail"><img src="{% static 'users/img/car-finder/single/gallery/th05.jpg' %}" alt="Thumbnail"></li>
              <li class="tns-thumbnail"><img src="{% static 'users/img/car-finder/single/gallery/th06.jpg' %}" alt="Thumbnail"></li>
              <li class="tns-thumbnail"><img src="{% static 'users/img/car-finder/single/gallery/th07.jpg' %}" alt="Thumbnail"></li>
              <li class="tns-thumbnail"><img src="{% static 'users/img/car-finder/single/gallery/th08.jpg' %}" alt="Thumbnail"></li>
            </ul>
            <!-- Specs-->
            <div class="py-3 mb-3">
              <h2 class="h4 text-light mb-4">Caractéristiques</h2>
              <div class="row text-light">
                <div class="col-sm-6 col-md-12 col-lg-6">
                  <ul class="list-unstyled">
                    <li class="mb-2"><strong>Année de fabrication :</strong><span class="opacity-70 ms-1">2018</span></li>
                    <li class="mb-2"><strong>Kilométrage:</strong><span class="opacity-70 ms-1">25 Km</span></li>
                    <li class="mb-2"><strong>Type de carrosserie:</strong><span class="opacity-70 ms-1">Cabriolet</span></li>
                    <li class="mb-2"><strong>Transmission:</strong><span class="opacity-70 ms-1">traction avant</span></li>
                    <li class="mb-2"><strong>Moteur :</strong><span class="opacity-70 ms-1">2.5L Turbo 6 Cylinder</span></li>
                    <li class="mb-2"><strong>Transmission:</strong><span class="opacity-70 ms-1">7 vitesses commutables automatique</span></li>
                  </ul>
                </div>
                <div class="col-sm-6 col-md-12 col-lg-6">
                  <ul class="list-unstyled">
                    <li class="mb-2"><strong>Type de carburant:</strong><span class="opacity-70 ms-1">Essence</span></li>
                    <li class="mb-2"><strong>Couleur extérieure:</strong><span class="opacity-70 ms-1">blanc tremble</span></li>
                    <li class="mb-2"><strong>Couleur intérieure:</strong><span class="opacity-70 ms-1">Charbon</span></li>
                    <li class="mb-2"><strong>NIV:</strong><span class="opacity-70 ms-1">2VW821AU9JM754284</span></li>
                  </ul>
                </div>
              </div>
            </div>
            <!-- Card with icon boxes-->
            <div class="card card-body p-4 card-light mb-4">
              <div class="row row-cols-2 row-cols-sm-4 gx-3 gx-xl-4 gy-4">
                <div class="col text-light text-center">
                  <div class="d-table bg-dark rounded-3 mx-auto p-3"><img src="{% static 'users/img/car-finder/icons/check.svg' %}" width="48" alt="Icon"></div>
                  <div class="fs-sm pt-2 mt-1">Vérifié et certifié par Goodtrip</div>
                </div>
                <div class="col text-light text-center">
                  <div class="d-table bg-dark rounded-3 mx-auto p-3"><img src="{% static 'users/img/car-finder/icons/steering-wheel.svg' %}" width="48" alt="Icon"></div>
                  <div class="fs-sm pt-2 mt-1">Propriétaire unique</div>
                </div>
                <div class="col text-light text-center">
                  <div class="d-table bg-dark rounded-3 mx-auto p-3"><img src="{% static 'users/img/car-finder/icons/driving-test.svg' %}" width="48" alt="Icon"></div>
                  <div class="fs-sm pt-2 mt-1">Bien équipé</div>
                </div>
                <div class="col text-light text-center">
                  <div class="d-table bg-dark rounded-3 mx-auto p-3"><img src="{% static 'users/img/car-finder/icons/accident.svg' %}" width="48" alt="Icon"></div>
                  <div class="fs-sm pt-2 mt-1">Aucun accident/dommage signalé</div>
                </div>
              </div>
            </div>
            <!-- Features-->
            <h2 class="h4 text-light pt-3 mb-4">Caractéristiques</h2>
            <div class="accordion accordion-light" id="features">
              <div class="accordion-item">
                <h2 class="accordion-header" id="headingExterior">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#exterior" aria-expanded="false" aria-controls="exterior">Extérieur</button>
                </h2>
                <div class="accordion-collapse collapse" id="exterior" aria-labelledby="headingExterior" data-bs-parent="#features">
                  <div class="accordion-body fs-sm text-light opacity-70">
                    <ul>
                      <li>Jantes en alliage</li>
                      <li>Toit ouvrant / Toit ouvrant</li>
                      <li>Verre teinté</li>
                      <li>Phares à DEL</li>
                      <li>Toit pliable</li>
                      <li>Attelage de remorquage</li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="accordion-item">
                <h2 class="accordion-header" id="headingInterior">
                  <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#interior" aria-expanded="true" aria-controls="interior">Intérieur</button>
                </h2>
                <div class="accordion-collapse collapse show" id="interior" aria-labelledby="headingInterior" data-bs-parent="#features">
                  <div class="accordion-body fs-sm text-light opacity-70">
                    <div class="row">
                      <div class="col-sm-6">
                        <ul>
                          <li>Volant réglable</li>
                          <li>Rétroviseur à atténuation automatique</li>
                          <li>Support lombaire réglable pour le conducteur</li>
                          <li>Miroir de courtoisie illuminé conducteur</li>
                          <li>Ouvre-porte de garage universel</li>
                          <li>Commandes audio au volant</li>
                        </ul>
                      </div>
                      <div class="col-sm-6">
                        <ul>
                          <li>Sièges avant chauffants</li>
                          <li>Sièges en cuir</li>
                          <li>Volant en cuir</li>
                          <li>Siège arrière traversant</li>
                          <li>Support lombaire réglable pour le passager</li>
                          <li>Rétroviseur de pare-soleil éclairé pour passager</li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="accordion-item">
                <h2 class="accordion-header" id="headingSafety">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#safety" aria-expanded="false" aria-controls="safety">Sécurité</button>
                </h2>
                <div class="accordion-collapse collapse" id="safety" aria-labelledby="headingSafety" data-bs-parent="#features">
                  <div class="accordion-body fs-sm text-light opacity-70">
                    <div class="row">
                      <div class="col-sm-6">
                        <ul>
                          <li>Airbag: Conducteur</li>
                          <li>Airbag: Passager</li>
                          <li>Régulateur de vitesse adaptatif</li>
                          <li>Moniteur d'angle mort</li>
                          <li>Alarme</li>
                          <li>Freins antiblocage</li>
                        </ul>
                      </div>
                      <div class="col-sm-6">
                        <ul>
                          <li>Assistance au freinage</li>
                          <li>Avertissement de sortie de voie</li>
                          <li>Contrôle de stabilité</li>
                          <li>Feux de brouillard</li>
                          <li>Serrures de porte électriques</li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="accordion-item">
                <h2 class="accordion-header" id="headingTechnology">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#technology" aria-expanded="false" aria-controls="technology">Technologie</button>
                </h2>
                <div class="accordion-collapse collapse" id="technology" aria-labelledby="headingTechnology" data-bs-parent="#features">
                  <div class="accordion-body fs-sm text-light opacity-70">
                    <div class="row">
                      <div class="col-sm-6">
                        <ul>
                          <li>A/C multizone</li>
                          <li>Contrôle du climat</li>
                          <li>Système de navigation</li>
                          <li>Démarrage à distance</li>
                          <li>Bluetooth</li>
                        </ul>
                      </div>
                      <div class="col-sm-6">
                        <ul>
                          <li>Android Auto</li>
                          <li>Caméra de recul</li>
                          <li>Lien d'accueil</li>
                          <li>Démarrage sans clé</li>
                          <li>Système audio haut de gamme</li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- Description-->
            <div class="pb-4 mb-3">
              <h2 class="h4 text-light pt-4 mt-3">Seller's Description</h2>
              <p class="text-light opacity-70 mb-1">Lorem tincidunt lectus vitae id vulputate diam quam. Imperdiet non scelerisque turpis sed etiam ultrices. Blandit mollis dignissim egestas consectetur porttitor. Vulputate dolor pretium, dignissim eu augue sit ut convallis. Lectus est, magna urna feugiat sed ultricies sed in lacinia. Fusce potenti sit id pharetra vel ornare. Vestibulum sed tellus ullamcorper arcu.</p>
              <div class="collapse" id="seeMoreDescription">
                <p class="text-light opacity-70 mb-1">Asperiores eos molestias, aspernatur assumenda vel corporis ex, magni excepturi totam exercitationem quia inventore quod amet labore impedit quae distinctio? Officiis blanditiis consequatur alias, atque, sed est incidunt accusamus repudiandae tempora repellendus obcaecati delectus ducimus inventore tempore harum numquam autem eligendi culpa.</p>
              </div><a class="collapse-label collapsed" href="#seeMoreDescription" data-bs-toggle="collapse" data-bs-label-collapsed="Show more" data-bs-label-expanded="Show less" role="button" aria-expanded="false" aria-controls="seeMoreDescription"></a>
            </div>
            <!-- Post meta-->
            <div class="d-flex flex-wrap border-top border-light fs-sm text-light pt-4 pb-5 pb-md-2">
              <div class="border-end border-light pe-3 me-3"><span class="opacity-70">Publié: <strong> 9 mai 2021</strong></span></div>
              <div class="border-end border-light pe-3 me-3"><span class="opacity-70">Numéro d'annonce: <strong>001</strong></span></div>
              <div class="opacity-70">Vues: <strong>57</strong></div>
            </div>
          </div>
          <!-- Sidebar-->
          <div class="col-md-5 pt-5 pt-md-0" style="margin-top: -6rem;">
            <div class="sticky-top pt-5">
              <div class="d-none d-md-block pt-5">
                <div class="d-flex mb-4"><span class="d-table badge " style="background-color: #fd5631" data-bs-toggle="popover" data-bs-placement="bottom" data-bs-trigger="hover" data-bs-html="true" data-bs-content="&lt;div class=&quot;d-flex&quot;&gt;&lt;i class=&quot;fi-award mt-1 me-2&quot;&gt;&lt;/i&gt;&lt;div&gt;cette voiture&lt;br&gt;est en vente.&lt;/div&gt;&lt;/div&gt;">En Vente</span></div>
                <div class="h3 text-light">17 845 347 Franc CFA</div>
                <div class="d-flex align-items-center text-light pb-4 mb-2">
                  <div class="text-nowrap border-end border-light pe-3 me-3"><i class="fi-dashboard fs-lg opacity-70 me-2"></i><span class="align-middle">25 km</span></div>
                  <div class="text-nowrap"><i class="fi-map-pin fs-lg opacity-70 me-2"></i><span class="align-middle">Abidjan</div>
                </div>
              </div>
              <div class="card card-light card-body mb-4">
                <div class="pt-4 mt-2">
                 <a class="btn btn-primary btn-lg" href="#send-mail" data-bs-toggle="collapse"><i class="fi-credit-card me-2"></i>Ajouter au panier</a>
                </div>
              </div>
              <div class="card card-body bg-transparent border-light">
                <h5 class="text-light">Envoyez-moi par e-mail les baisses de prix et les nouvelles annonces pour ces résultats de recherche :</h5>
                <form class="form-group form-group-light mb-3">
                  <div class="input-group"><span class="input-group-text"> <i class="fi-mail"></i></span>
                    <input class="form-control" type="email" placeholder="Vôtre e-mail" required>
                  </div>
                  <button class="btn btn-primary" type="submit">S'abonner</button>
                </form>
                <div class="form-check form-check-light">
                  <input class="form-check-input" type="checkbox" id="subscription-agree">
                  <label class="form-check-label fs-sm opacity-70" for="subscription-agree">J'accepte de recevoir des alertes de baisse de prix sur ce véhicule et des informations d'achat utiles.</label>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Related posts (Carousel)-->
        <h2 class="h3 text-light pt-5 pb-3 mt-md-4">Vous pourrez être intéressé par</h2>
        <div class="tns-carousel-wrapper tns-controls-outside-xxl tns-nav-outside tns-carousel-light">
          <div class="tns-carousel-inner" data-carousel-options="{&quot;items&quot;: 3, &quot;responsive&quot;: {&quot;0&quot;:{&quot;items&quot;:1, &quot;gutter&quot;: 16},&quot;500&quot;:{&quot;items&quot;:2, &quot;gutter&quot;: 18},&quot;900&quot;:{&quot;items&quot;:3, &quot;gutter&quot;: 20}, &quot;1100&quot;:{&quot;gutter&quot;: 24}}}">
            <div>
              <div class="card card-light card-hover h-100">
                <div class="card-img-top card-img-hover"><a class="img-overlay" href="#"></a>
                  <div class="position-absolute start-0 top-0 pt-3 ps-3"><span class="d-table badge " style="background-color: #fd5631" data-bs-toggle="popover" data-bs-placement="bottom" data-bs-trigger="hover" data-bs-html="true" data-bs-content="&lt;div class=&quot;d-flex&quot;&gt;&lt;i class=&quot;fi-award mt-1 me-2&quot;&gt;&lt;/i&gt;&lt;div&gt;cette voiture&lt;br&gt;est en vente.&lt;/div&gt;&lt;/div&gt;">En Vente</span></div>
                  <div class="content-overlay end-0 top-0 pt-3 pe-3">
                    <button class="btn btn-icon btn-light btn-xs text-primary rounded-circle" type="button" data-bs-toggle="tooltip" data-bs-placement="left" title="Ajouter à mes favoris"><i class="fi-heart"></i></button>
                  </div><img src="{% static 'users/img/car-finder/catalog/03.jpg' %}" alt="Image">
                </div>
                <div class="card-body">
                  <h3 class="h6 mb-1"><a class="nav-link-light" href="#">Mazda MX-5 Miata Convertible</a></h3>
                  <div class="text-primary fw-bold mb-1">16 619 809 Franc CFA</div>
                  <div class="fs-sm text-light opacity-70"><i class="fi-map-pin me-1"></i>Abidjan</div>
                </div>
                <div class="card-footer border-0 pt-0">
                  <div class="border-top border-light pt-3">
                    <div class="row g-2">
                      <div class="col me-sm-1">
                        <div class="bg-dark rounded text-center w-100 h-100 p-2"><i class="fi-dashboard d-block h4 text-light mb-0 mx-center"></i><span class="fs-xs text-light">18 km</span></div>
                      </div>
                      <div class="col me-sm-1">
                        <div class="bg-dark rounded text-center w-100 h-100 p-2"><i class="fi-gearbox d-block h4 text-light mb-0 mx-center"></i><span class="fs-xs text-light">Manuelle</span></div>
                      </div>
                      <div class="col">
                        <div class="bg-dark rounded text-center w-100 h-100 p-2"><i class="fi-petrol d-block h4 text-light mb-0 mx-center"></i><span class="fs-xs text-light">Essence</span></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div>
              <div class="card card-light card-hover h-100">
                <div class="card-img-top card-img-hover"><a class="img-overlay" href="#"></a>
                  <div class="position-absolute start-0 top-0 pt-3 ps-3"><span class="d-table badge " style="background-color: #fd5631" data-bs-toggle="popover" data-bs-placement="bottom" data-bs-trigger="hover" data-bs-html="true" data-bs-content="&lt;div class=&quot;d-flex&quot;&gt;&lt;i class=&quot;fi-award mt-1 me-2&quot;&gt;&lt;/i&gt;&lt;div&gt;cette voiture&lt;br&gt;est en vente.&lt;/div&gt;&lt;/div&gt;">En Vente</span></div>
                  <div class="content-overlay end-0 top-0 pt-3 pe-3">
                    <button class="btn btn-icon btn-light btn-xs text-primary rounded-circle" type="button" data-bs-toggle="tooltip" data-bs-placement="left" title="Ajouter à mes favoris"><i class="fi-heart"></i></button>
                  </div><img src="{% 'users/img/car-finder/catalog/05.jpg' %}" alt="Image">
                </div>
                <div class="card-body">
                  <h3 class="h6 mb-1"><a class="nav-link-light" href="#">BMW 640 XI Gran Turismo</a></h3>
                  <div class="text-primary fw-bold mb-1">24 339 991 Franc CFA</div>
                  <div class="fs-sm text-light opacity-70"><i class="fi-map-pin me-1"></i>Abidjan</div>
                </div>
                <div class="card-footer border-0 pt-0">
                  <div class="border-top border-light pt-3">
                    <div class="row g-2">
                      <div class="col me-sm-1">
                        <div class="bg-dark rounded text-center w-100 h-100 p-2"><i class="fi-dashboard d-block h4 text-light mb-0 mx-center"></i><span class="fs-xs text-light">10 km</span></div>
                      </div>
                      <div class="col me-sm-1">
                        <div class="bg-dark rounded text-center w-100 h-100 p-2"><i class="fi-gearbox d-block h4 text-light mb-0 mx-center"></i><span class="fs-xs text-light">Automatique</span></div>
                      </div>
                      <div class="col">
                        <div class="bg-dark rounded text-center w-100 h-100 p-2"><i class="fi-petrol d-block h4 text-light mb-0 mx-center"></i><span class="fs-xs text-light">Essence</span></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div>
              <div class="card card-light card-hover h-100">
                <div class="card-img-top card-img-hover"><a class="img-overlay" href="#"></a>
                  <div class="position-absolute start-0 top-0 pt-3 ps-3"><span class="d-table badge " style="background-color: #fd5631" data-bs-toggle="popover" data-bs-placement="bottom" data-bs-trigger="hover" data-bs-html="true" data-bs-content="&lt;div class=&quot;d-flex&quot;&gt;&lt;i class=&quot;fi-award mt-1 me-2&quot;&gt;&lt;/i&gt;&lt;div&gt;cette voiture&lt;br&gt;est en vente.&lt;/div&gt;&lt;/div&gt;">En Vente</span></div>
                  <div class="content-overlay end-0 top-0 pt-3 pe-3">
                    <button class="btn btn-icon btn-light btn-xs text-primary rounded-circle" type="button" data-bs-toggle="tooltip" data-bs-placement="left" title="Ajouter à mes favoris"><i class="fi-heart"></i></button>
                  </div><img src="{% 'user/img/car-finder/catalog/04.jpg' %}" alt="Image">
                </div>
                <div class="card-body">
                  <h3 class="h6 mb-1"><a class="nav-link-light" href="#">Nissan 370Z Nismo</a></h3>
                  <div class="text-primary fw-bold mb-1">21 210 194 Franc CFA</div>
                  <div class="fs-sm text-light opacity-70"><i class="fi-map-pin me-1"></i>Abidjan</div>
                </div>
                <div class="card-footer border-0 pt-0">
                  <div class="border-top border-light pt-3">
                    <div class="row g-2">
                      <div class="col me-sm-1">
                        <div class="bg-dark rounded text-center w-100 h-100 p-2"><i class="fi-dashboard d-block h4 text-light mb-0 mx-center"></i><span class="fs-xs text-light">16 km</span></div>
                      </div>
                      <div class="col me-sm-1">
                        <div class="bg-dark rounded text-center w-100 h-100 p-2"><i class="fi-gearbox d-block h4 text-light mb-0 mx-center"></i><span class="fs-xs text-light">Automatique</span></div>
                      </div>
                      <div class="col">
                        <div class="bg-dark rounded text-center w-100 h-100 p-2"><i class="fi-petrol d-block h4 text-light mb-0 mx-center"></i><span class="fs-xs text-light">Essence</span></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div>
              <div class="card card-light card-hover h-100">
                <div class="card-img-top card-img-hover"><a class="img-overlay" href="#"></a>
                  <div class="position-absolute start-0 top-0 pt-3 ps-3"><span class="d-table badge " style="background-color: #fd5631" data-bs-toggle="popover" data-bs-placement="bottom" data-bs-trigger="hover" data-bs-html="true" data-bs-content="&lt;div class=&quot;d-flex&quot;&gt;&lt;i class=&quot;fi-award mt-1 me-2&quot;&gt;&lt;/i&gt;&lt;div&gt;cette voiture&lt;br&gt;est en vente.&lt;/div&gt;&lt;/div&gt;">En Vente</span></div>
                  <div class="content-overlay end-0 top-0 pt-3 pe-3">
                    <button class="btn btn-icon btn-light btn-xs text-primary rounded-circle" type="button" data-bs-toggle="tooltip" data-bs-placement="left" title="Ajouter à mes favoris"><i class="fi-heart"></i></button>
                  </div><img src="{% 'users/img/car-finder/catalog/08.jpg' %}" alt="Image">
                </div>
                <div class="card-body">
                  <h3 class="h6 mb-1"><a class="nav-link-light" href="#">Ford Explorer XLT</a></h3>
                  <div class="text-primary fw-bold mb-1">15 084 796 Franc CFA</div>
                  <div class="fs-sm text-light opacity-70"><i class="fi-map-pin me-1"></i>Kansas</div>
                </div>
                <div class="card-footer border-0 pt-0">
                  <div class="border-top border-light pt-3">
                    <div class="row g-2">
                      <div class="col me-sm-1">
                        <div class="bg-dark rounded text-center w-100 h-100 p-2"><i class="fi-dashboard d-block h4 text-light mb-0 mx-center"></i><span class="fs-xs text-light">34 km</span></div>
                      </div>
                      <div class="col me-sm-1">
                        <div class="bg-dark rounded text-center w-100 h-100 p-2"><i class="fi-gearbox d-block h4 text-light mb-0 mx-center"></i><span class="fs-xs text-light">Manuelle</span></div>
                      </div>
                      <div class="col">
                        <div class="bg-dark rounded text-center w-100 h-100 p-2"><i class="fi-petrol d-block h4 text-light mb-0 mx-center"></i><span class="fs-xs text-light">Diesel</span></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
     <!-- {% endblock content %} -->