{% extends 'livraison/base.html' %}
{% load static %}
{% block content %}
       <!-- Property cost calculator modal-->
       <div class="modal fade" id="cost-calculator" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header d-block position-relative border-0 px-sm-5 px-4">
              <h3 class="h4 modal-title mt-4 text-center">Expédiez un colis</h3>
              <button class="btn-close position-absolute top-0 end-0 mt-3 me-3" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body px-sm-5 px-4">
              <form class="needs-validation" novalidate>
                <div class="mb-3">
                  <label class="form-label fw-bold mb-2" for="property-city">Lieux d'expédition</label>
                  <select class="form-control form-select" id="property-city" required>
                    <option value="" selected disabled hidden>selectionnez la commune</option>
                    <option value="Chicago">Yopougon</option>
                    <option value="Dallas">Adjamé</option>
                    <option value="Los Angeles">Plateau</option>
                    <option value="New York">Cocody</option>
                    <option value="San Diego">Marcory</option>
                  </select>
                  <div class="invalid-feedback">champ obligatoire.</div>
                </div>
                <div class="mb-3">
                    <label class="form-label fw-bold mb-2" for="property-city">Lieux d'arrivé</label>
                  <select class="form-control form-select" id="property-district" required>
                    <option value="" selected disabled hidden>selectionnez la commune</option>
                    <option value="Chicago">Yopougon</option>
                    <option value="Dallas">Adjamé</option>
                    <option value="Los Angeles">Plateau</option>
                    <option value="New York">Cocody</option>
                    <option value="San Diego">Marcory</option>
                  </select>
                  <div class="invalid-feedback">Champ obligatoire.</div>
                </div>
                <div class="pt-2 mb-4">
                  <label class="form-label fw-bold mb-2" for="property-area">Le prix de la livraison.</label>
                  <input class="form-control" id="disabled-input" type="text" placeholder="prix de la livraison" disabled>
                </div>
                <button class="btn btn-primary d-block w-100 mb-4" id="swal-2"><i class="fi-calculator me-2"></i>Valider</button>
              </form>
            </div>
          </div>
        </div>
      </div>
      <!-- Hero-->
      <section class="container pt-5 my-5 pb-lg-4">
        <div class="row pt-0 pt-md-2 pt-lg-0">
          <div class="col-xl-7 col-lg-6 col-md-5 order-md-2 mb-4 mb-lg-3"><img src="{% static 'users/img/real-estate/livreur.jpg' %}" alt="Hero image"></div>
          <div class="col-xl-5 col-lg-6 col-md-7 order-md-1 pt-xl-5 pe-lg-0 mb-3 text-md-start text-center">
            <h1 class="display-4 mt-lg-5 mb-md-4 mb-3 pt-md-4 pb-lg-2">Un moyen facile de trouver <br> quelqu'un pour livrer vos colis</h1>
            <p class="position-relative lead me-lg-n5">Goodtrip est une entreprise de Livraison de colis disponible 7j/7..</p>
          </div>
          <!-- Search property form group-->
          
        </div>
      </section>
      <!-- Services-->
      <section class="container mb-5 mt-n3 mt-lg-0">
        <div class="tns-carousel-wrapper tns-nav-outside tns-nav-outside-flush mx-n2">
          <div class="tns-carousel-inner row gx-4 mx-0 py-3" data-carousel-options="{&quot;items&quot;: 3, &quot;controls&quot;: false, &quot;responsive&quot;: {&quot;0&quot;:{&quot;items&quot;:1},&quot;500&quot;:{&quot;items&quot;:2},&quot;768&quot;:{&quot;items&quot;:3}}}">
            <div class="col">
              <div class="card card-hover border-0 h-100 pb-2 pb-sm-3 px-sm-3 text-center"><img class="d-block mx-auto my-3" src="{% static 'users/img/real-estate/illustrations/delivery-box.svg' %}" width="256" alt="Illustration">
                <div class="card-body">
                  <h2 class="h4 card-title">Des tarifs abordables</h2>
                  <p class="card-text fs-sm">Blandit lorem dictum in velit. Et nisi at faucibus mauris pretium enim. Risus sapien nisi aliquam egestas leo dignissim.</p>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card card-hover border-0 h-100 pb-2 pb-sm-3 px-sm-3 text-center"><img class="d-block mx-auto my-3" src="{% static 'users/img/real-estate/illustrations/delivery-truck.svg' %}" width="256" alt="Illustration">
                <div class="card-body">
                  <h2 class="h4 card-title">Livraison à domicile</h2>
                  <p class="card-text fs-sm">Amet, cras orci justo, tortor nisl aliquet. Enim tincidunt tellus nunc, nulla arcu posuere quis. Velit turpis orci venenatis.</p>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card card-hover border-0 h-100 pb-2 pb-sm-3 px-sm-3 text-center"><img class="d-block mx-auto my-3" src="{% static 'users/img/real-estate/illustrations/customer-service.svg' %}" width="256" alt="Illustration">
                <div class="card-body">
                  <h2 class="h4 card-title">Service client efficace</h2>
                  <p class="card-text fs-sm">Sed sed aliquet sed id purus malesuada congue viverra. Habitant quis lacus, volutpat natoque ipsum iaculis cursus.</p>
                </div>
                
              </div>
            </div>
          </div>
        </div>
      </section>
      <hr class="mt-n1 mb-5 d-md-none">
     
      <!-- Property cost calculator-->
      <section class="container mb-5 pb-2 pb-lg-4">
        <div class="row align-items-center">
          <div class="col-md-5"><img class="d-block mx-md-0 mx-auto mb-md-0 mb-4" src="{% static 'users/img/real-estate/illustrations/calculator.svg' %}" width="416" alt="Illustration"></div>
          <div class="col-xxl-6 col-md-7 text-md-start text-center">
            <h2>Estimez ma livraison</h2>
            <p class="pb-3 fs-lg">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p><a class="btn btn-lg btn-primary estimation" href="#cost-calculator" data-bs-toggle="modal"><i class="fi-calculator me-2"></i>Estimez</a>
          </div>
        </div>
      </section>
      <!-- Partners (carousel)-->
      <section class="container mb-5 pb-2 pb-lg-4">
        <h2 class="h3 mb-4 text-center text-md-start">Nos partenaires</h2>
        <div class="tns-carousel-wrapper tns-nav-outside tns-nav-outside-flush">
          <div class="tns-carousel-inner" data-carousel-options="{&quot;items&quot;: 6, &quot;controls&quot;: false, &quot;responsive&quot;: {&quot;0&quot;:{&quot;items&quot;:2}, &quot;500&quot;:{&quot;items&quot;:4}, &quot;992&quot;:{&quot;items&quot;:5, &quot;gutter&quot;: 16}, &quot;1200&quot;:{&quot;items&quot;:6, &quot;gutter&quot;: 24}}}">
            <div><a class="swap-image" href="#"><img class="swap-to" src="{% static 'users/img/real-estate/brands/01_color.svg' %}" alt="Logo" width="196"><img class="swap-from" src="{% static 'users/img/real-estate/brands/01_gray.svg' %}" alt="Logo" width="196"></a></div>
            <div><a class="swap-image" href="#"><img class="swap-to" src="{% static 'users/img/real-estate/brands/02_color.svg' %}" alt="Logo" width="196"><img class="swap-from" src="{% static 'users/img/real-estate/brands/02_gray.svg' %}" alt="Logo" width="196"></a></div>
            <div><a class="swap-image" href="#"><img class="swap-to" src="{% static 'users/img/real-estate/brands/03_color.svg' %}" alt="Logo" width="196"><img class="swap-from" src="{% static 'users/img/real-estate/brands/03_gray.svg' %}" alt="Logo" width="196"></a></div>
            <div><a class="swap-image" href="#"><img class="swap-to" src="{% static 'users/img/real-estate/brands/04_color.svg' %}" alt="Logo" width="196"><img class="swap-from" src="{% static 'users/img/real-estate/brands/04_gray.svg' %}" alt="Logo" width="196"></a></div>
            <div><a class="swap-image" href="#"><img class="swap-to" src="{% static 'users/img/real-estate/brands/05_color.svg' %}" alt="Logo" width="196"><img class="swap-from" src="{% static 'users/img/real-estate/brands/05_gray.svg' %}" alt="Logo" width="196"></a></div>
            <div><a class="swap-image" href="#"><img class="swap-to" src="{% static 'users/img/real-estate/brands/06_color.svg' %}" alt="Logo" width="196"><img class="swap-from" src="{% static 'users/img/real-estate/brands/06_gray.svg' %}" alt="Logo" width="196"></a></div>
          </div>
        </div>
      </section>
      <!-- Top agents (lnked carousel)-->
      <section class="container mb-5 pb-2 pb-lg-4">
        <h2 class="h3 mb-4 pb-3 text-center text-md-start">Ils donnent leur avis</h2>
        <div class="tns-carousel-wrapper">
          <div class="tns-carousel-inner" data-carousel-options="{&quot;items&quot;: 1, &quot;mode&quot;: &quot;gallery&quot;, &quot;controlsContainer&quot;: &quot;#agents-carousel-controls&quot;, &quot;nav&quot;: false}">
            <div>
              <div class="row align-items-center d-flex justify-content-around">
                  <div class="col-xl-3 col-md-4 col-sm-3 card border-0 shadow"><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                    <div class="card-body">
                        <footer class="d-flex align-items-center">
                            <img class="rounded-circle me-1" src="{% static 'users/img/avatars/04.jpg' %}" width="48" alt="Avatar">
                            <div class="ps-2">
                              <h6 class="fs-base mb-0">Ralph Edwards</h6>
                              <div class="text-muted fw-normal fs-sm">Co-founder, CEO</div>
                            </div>
                          </footer>
                    </div>
                  </div>
                <div class="col-xl-3 col-md-4 col-sm-3 card border-0 shadow"><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                  <div class="card-body">
                      <footer class="d-flex align-items-center">
                          <img class="rounded-circle me-1" src="{% static 'users/img/avatars/04.jpg' %}" width="48" alt="Avatar">
                          <div class="ps-2">
                            <h6 class="fs-base mb-0">Ralph Edwards</h6>
                            <div class="text-muted fw-normal fs-sm">Co-founder, CEO</div>
                          </div>
                        </footer>
                  </div>
                </div>
                  <div class="col-xl-3 col-md-4 col-sm-3 card border-0 shadow"><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                      <div class="card-body">
                          <footer class="d-flex align-items-center">
                              <img class="rounded-circle me-1" src="{% static 'users/img/avatars/04.jpg' %}" width="48" alt="Avatar">
                              <div class="ps-2">
                                <h6 class="fs-base mb-0">Ralph Edwards</h6>
                                <div class="text-muted fw-normal fs-sm">Co-founder, CEO</div>
                              </div>
                            </footer>
                      </div>
                    </div>
                </div>
              </div>
            <div>
                <div class="row align-items-center d-flex justify-content-around">
                    <div class="col-xl-3 col-md-4 col-sm-3 card border-0 shadow"><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                      <div class="card-body">
                          <footer class="d-flex align-items-center">
                              <img class="rounded-circle me-1" src="{% static 'users/img/avatars/03.jpg' %}" width="48" alt="Avatar">
                              <div class="ps-2">
                                <h6 class="fs-base mb-0">Ralph Edwards</h6>
                                <div class="text-muted fw-normal fs-sm">Co-founder, CEO</div>
                              </div>
                            </footer>
                      </div>
                    </div>
                  <div class="col-xl-3 col-md-4 col-sm-3 card border-0 shadow"><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                    <div class="card-body">
                        <footer class="d-flex align-items-center">
                            <img class="rounded-circle me-1" src="{% static 'users/img/avatars/03.jpg' %}" width="48" alt="Avatar">
                            <div class="ps-2">
                              <h6 class="fs-base mb-0">Ralph Edwards</h6>
                              <div class="text-muted fw-normal fs-sm">Co-founder, CEO</div>
                            </div>
                          </footer>
                    </div>
                  </div>
                    <div class="col-xl-3 col-md-4 col-sm-3 card border-0 shadow"><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                        <div class="card-body">
                            <footer class="d-flex align-items-center">
                                <img class="rounded-circle me-1" src="{% static 'users/img/avatars/03.jpg' %}" width="48" alt="Avatar">
                                <div class="ps-2">
                                  <h6 class="fs-base mb-0">Ralph Edwards</h6>
                                  <div class="text-muted fw-normal fs-sm">Co-founder, CEO</div>
                                </div>
                              </footer>
                        </div>
                      </div>
                  </div>
            </div>
            <div>
                <div class="row align-items-center d-flex justify-content-around">
                    <div class="col-xl-3 col-md-4 col-sm-3 card border-0 shadow"><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                      <div class="card-body">
                          <footer class="d-flex align-items-center">
                              <img class="rounded-circle me-1" src="{% static 'users/img/avatars/07.jpg' %}" width="48" alt="Avatar">
                              <div class="ps-2">
                                <h6 class="fs-base mb-0">Ralph Edwards</h6>
                                <div class="text-muted fw-normal fs-sm">Co-founder, CEO</div>
                              </div>
                            </footer>
                      </div>
                    </div>
                  <div class="col-xl-3 col-md-4 col-sm-3 card border-0 shadow"><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                    <div class="card-body">
                        <footer class="d-flex align-items-center">
                            <img class="rounded-circle me-1" src="{% static 'users/img/avatars/07.jpg' %}" width="48" alt="Avatar">
                            <div class="ps-2">
                              <h6 class="fs-base mb-0">Ralph Edwards</h6>
                              <div class="text-muted fw-normal fs-sm">Co-founder, CEO</div>
                            </div>
                          </footer>
                    </div>
                  </div>
                    <div class="col-xl-3 col-md-4 col-sm-3 card border-0 shadow"><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                        <div class="card-body">
                            <footer class="d-flex align-items-center">
                                <img class="rounded-circle me-1" src="{% static 'users/img/avatars/07.jpg' %}" width="48" alt="Avatar">
                                <div class="ps-2">
                                  <h6 class="fs-base mb-0">Ralph Edwards</h6>
                                  <div class="text-muted fw-normal fs-sm">Co-founder, CEO</div>
                                </div>
                              </footer>
                        </div>
                      </div>
                  </div>
            </div>
          </div>
        </div>
        <div class="tns-carousel-controls justify-content-center justify-content-md-start my-2 mt-md-4" id="agents-carousel-controls">
          <button class="mx-2" type="button"><i class="fi-chevron-left"></i></button>
          <button class="mx-2" type="button"><i class="fi-chevron-right"></i></button>
        </div>
      </section>
    </main>
{% endblock content %}