{% load static %}
<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="utf-8">
    <title>Goodtrip | Livraison</title>
    <!-- SEO Meta Tags-->
    <meta name="description" content="Goodtrip - Directory &amp; Listings Bootstrap Template">
    <meta name="keywords" content="bootstrap, business, directory, listings, e-commerce, car dealer, city guide, real estate, job board, user account, multipurpose, ui kit, html5, css3, javascript, gallery, slider, touch">
    <meta name="author" content="Createx Studio">
    <!-- Viewport-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Favicon and Touch Icons-->
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'users/img/icon/icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'users/img/icon/icon.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'users/img/icon/icon.png' %}">
    <link rel="manifest" href="{% static 'users/site.webmanifest' %}">
    <link rel="mask-icon" color="#5bbad5" href="{% static 'users/safari-pinned-tab.svg' %}">
    <meta name="msapplication-TileColor" content="#766df4">
    <meta name="theme-color" content="#ffffff">
    <!-- Page loading styles-->
    <style>
      .page-loading {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        -webkit-transition: all .4s .2s ease-in-out;
        transition: all .4s .2s ease-in-out;
        background-color: #1f1b2d;
        opacity: 0;
        visibility: hidden;
        z-index: 9999;
      }
      .page-loading.active {
        opacity: 1;
        visibility: visible;
      }
      .page-loading-inner {
        position: absolute;
        top: 50%;
        left: 0;
        width: 100%;
        text-align: center;
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
        -webkit-transition: opacity .2s ease-in-out;
        transition: opacity .2s ease-in-out;
        opacity: 0;
      }
      .page-loading.active > .page-loading-inner {
        opacity: 1;
      }
      .page-loading-inner > span {
        display: block;
        font-size: 1rem;
        font-weight: normal;
        color: #fff;;
      }
      .page-spinner {
        display: inline-block;
        width: 2.75rem;
        height: 2.75rem;
        margin-bottom: .75rem;
        vertical-align: text-bottom;
        border: .15em solid #9691a4;
        border-right-color: transparent;
        border-radius: 50%;
        -webkit-animation: spinner .75s linear infinite;
        animation: spinner .75s linear infinite;
      }
      @-webkit-keyframes spinner {
        100% {
          -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
        }
      }
      @keyframes spinner {
        100% {
          -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
        }
      }
      
    </style>
    <!-- Page loading scripts-->
    <script>
      (function () {
        window.onload = function () {
          var preloader = document.querySelector('.page-loading');
          preloader.classList.remove('active');
          setTimeout(function () {
            preloader.remove();
          }, 2000);
        };
      })();
      
    </script>
    <!-- Vendor Styles-->
    <link rel="stylesheet" media="screen" href="{% static 'users/vendor/simplebar/dist/simplebar.min.css' %}"/>
    <link rel="stylesheet" media="screen" href="{% static 'users/vendor/tiny-slider/dist/tiny-slider.css' %}"/>
    <!-- Main Theme Styles + Bootstrap-->
    <link rel="stylesheet" media="screen" href="{% static 'users/css/theme.min.css' %}">
  </head>
  <!-- Body-->
  <body class="bg-light">
    <!-- Page loading spinner-->
    <div class="page-loading active">
      <div class="page-loading-inner">
        <div class="page-spinner"></div><span>Loading...</span>
      </div>
    </div>
    <main class="page-wrapper">
      <header class="navbar navbar-expand-lg navbar-light fixed-top" data-scroll-header>
        <div class="container"><a class="navbar-brand me-3 me-xl-4" href="car-finder-home.html"><img class="d-block" src="{% static 'users/img/logo/logo.png' %}" width="116" alt="Goodtrip"></a>
          <button class="navbar-toggler ms-auto" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
          <div class="dropdown d-none d-lg-block order-lg-3 my-n2 me-3"><a class="d-block py-2" href="car-finder-account-info.html"><img class="rounded-circle" src="{% static 'users/img/avatars/02.jpg' %}" width="40" alt="Robert Fox"></a>
            <div class="dropdown-menu dropdown-menu-light dropdown-menu-end">
              <div class="d-flex align-items-start border-bottom border-dark px-3 py-1 mb-2" style="width: 16rem;"><img class="rounded-circle" src="{% static 'users/img/avatars/01.jpg' %}" width="48" alt="Robert Fox">
                <div class="ps-2">
                  <h6 class="fs-base text-dark mb-0">Robert Fox</h6><span class="star-rating star-rating-sm">
                      <div class="fs-xs py-2">(+225) 00-00-00-00-00</div>
                </div>
              </div><a class="dropdown-item" href="profile.html"><i class="fi-user me-2"></i>Mon compte</a>
              <div class="dropdown-divider"></div><a class="dropdown-item" href="#"><i class="fi-power me-2"></i>Déconnexion</a>
            </div>
          </div>
          <div class="collapse navbar-collapse order-lg-2" id="navbarNav">
            <ul class="navbar-nav navbar-nav-scroll" style="max-height: 35rem;">
              <!-- Demos switcher-->
              <li class="nav-item dropdown"><a class="nav-link dropdown-toggle " href="location/" role="button" data-bs-toggle="dropdown" aria-expanded="false">Véhicules</a>
                <ul class="dropdown-menu bg-light">
                  <li><a class="dropdown-item text-dark " href="Location-vehicule-par-grille.html"><i class="fi-car fs-bae fs-base opacity-50 me-2"></i>Location</a></li>
                  <li class="dropdown-divider"></li>              
                  <li><a class="dropdown-item text-dark" href="Achat-vehicule-par-liste.html"><i class="fi-car fs-bae opacity-50 me-2"></i>Achat</a></li>
                  </ul>
              </li>
              <!-- Menu items-->
              
              <li class="nav-item"><a class="nav-link" href="#">Livraison de colis</a></li>
          <li class="nav-item"><a class="nav-link" href="{% url 'dashboard' %}#services">Nos services</a></li>
              </li>
              <li class="nav-item dropdown d-lg-none"><a class="nav-link dropdown-toggle d-flex align-items-center" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"><a class="d-block py-2" href="car-finder-account-info.html"><img class="rounded-circle" src="{% static 'users/img/avatars/02.jpg' %}" width="40" alt="Robert Fox"></a>
                <div class="dropdown-menu dropdown-menu-light dropdown-menu-end">
                  <div class="d-flex align-items-start border-bottom border-dark px-3 py-1 mb-2" style="width: 16rem;"><img class="rounded-circle" src="{% static 'users/img/avatars/01.jpg' %}" width="48" alt="Robert Fox">
                    <div class="ps-2">
                      <h6 class="fs-base text-dark mb-0">Robert Fox</h6><span class="star-rating star-rating-sm">
                          <div class="fs-xs py-2">(+225) 00-00-00-00-00</div>
                    </div>
                  </div><a class="dropdown-item" href="profile.html"><i class="fi-user me-2"></i>Mon compte</a>
                  <div class="dropdown-divider"></div><a class="dropdown-item" href="#"><i class="fi-power me-2"></i>Déconnexion</a>
              </li>
            </ul>
          </div>
        </div>
      </header>
<!-- Page content-->
{% block content %} 

{% endblock %}
<!-- Footer-->
 <footer class="footer bg-faded-dark">
  <div class="border-bottom border-dark py-4">
    <div class="container d-sm-flex align-items-center justify-content-between"><a class="d-inline-block" href="real-estate-home.html"><img src="{% static 'users/img/logo/logo.png' %}" width="116" alt="logo"></a>
      <div class="d-flex pt-3 pt-sm-0">
        <div class="dropdown ms-n3">
          <button class="btn btn-dark btn-link btn-sm dropdown-toggle fw-normal py-2" type="button" data-bs-toggle="dropdown"><i class="fi-globe me-2"></i>Français</button>
          <div class="dropdown-menu dropdown-menu-light w-100"><a class="dropdown-item" href="#">Anglais</a></div>
        </div>
        <div class="localisation">
          <button class="btn btn-dark btn-link btn-sm fw-normal py-2 pe-0" type="button"><i class="fi-map-pin me-2"></i>Abidjan</button>
          
        </div>
      </div>
    </div>
  </div>
  <div class="container pt-4 pb-3 pt-lg-5 pb-lg-4">
    <div class="row pt-2 pt-lg-0">
      <div class="col-lg-3 pb-2 mb-4">
        <h3 class="h5 text-dark mb-2">Abonnez-vous à notre newsletter</h3>
        <p class="fs-sm text-dark opacity-70">Ne manquez aucune offre pertinente !</p>
        <form class="form-group form-group-dark w-100">
          <div class="input-group input-group-sm"><span class="input-group-text"> <i class="fi-mail"></i></span>
            <input class="form-control" type="text" placeholder="Votre e-mail">
          </div>
          <button class="btn btn-icon btn-sm" style="background-color: #26708b; color: #f2ac2a;" type="button"><i class="fi-send"></i></button>
        </form>
      </div>
      <div class="col-lg-2 col-md-3 col-sm-6 offset-xl-1 mb-2 mb-sm-4">
        <h3 class="fs-base text-dark">Livraison colis</h3>
        <ul class="list-unstyled fs-sm">
          <li><a class="nav-link-light" href="#" style="text-decoration: none; color: #26708b;">Envoyer un colis</a></li>
          <li><a class="nav-link-dark" href="location-achat-vehicule.html" style="text-decoration: none; color: #26708b;">Autres services</a></li>
              </ul>
            </div>
            <div class="col-lg-2 col-md-3 col-sm-6 mb-2 mb-sm-4">
              <h3 class="fs-base text-dark">À propos de</h3>
              <ul class="list-unstyled fs-sm">
                <li><a class="nav-link-dark" href="liv-a-propos-de-goodtrip.html" style="text-decoration: none; color: #26708b;">À propos de Goodtrip</a></li>
                <li><a class="nav-link-dark" href="liv-nous-contacter.html" style="text-decoration: none; color: #26708b;">Nous contacter</a></li>
                <li><a class="nav-link-dark" href="liv-faq-&-assistance.html" style="text-decoration: none; color: #26708b;">FAQ &amp;  assistance</a></li>
              </ul>
            </div>
            <div class="col-lg-2 col-md-3 col-sm-6 mb-2 mb-sm-4">
              <h3 class="fs-base text-dark">Profil</h3>
              <ul class="list-unstyled fs-sm">
                <li><a class="nav-link-dark" href="liv-profile.html" style="text-decoration: none; color: #26708b;">Mon compte</a></li>
                <li><a class="nav-link-dark" href="liv-historique.html" style="text-decoration: none; color: #26708b;">Historique</a></li>
              </ul>
            </div>
      <div class="col-xl-2 col-lg-3 col-sm-6 col-md-3 mb-2 mb-sm-4"><a class="d-flex align-items-center text-decoration-none mb-2" href="tel:0000000000"><img src="{% static 'users/img/elt/smartphone-liv.svg' %}" width="20px" class="me-2"><span class="text-dark">(+225) xx-xx-xx-xx-xx</span></a><a class="d-flex align-items-center text-decoration-none mb-2" href="mailto:example@email.com"><img src="{% static 'users/img/elt/email-liv.svg' %}" width="20px" class="me-2"><span class="text-dark">example@email.com</span></a>
        <div class="d-flex flex-wrap pt-4"><a class="btn btn-icon btn-translucent-dark btn-xs rounded-circle mb-2 me-2" href="#"><i class="fi-facebook"></i></a><a class="btn btn-icon btn-translucent-dark btn-xs rounded-circle mb-2 me-2" href="#"><i class="fi-twitter"></i></a><a class="btn btn-icon btn-translucent-dark btn-xs rounded-circle mb-2 me-2" href="#"><i class="fi-telegram"></i></a><a class="btn btn-icon btn-translucent-dark btn-xs rounded-circle mb-2" href="#"><i class="fi-messenger"></i></a></div>
      </div>
    </div>
  </div>
  <div class="container d-lg-flex align-items-center justify-content-between fs-sm pb-3">
    <div class="d-flex flex-wrap justify-content-center order-lg-2 mb-3"><a class="nav-link nav-link-dark fw-normal" href="#">Conditions d'utilisation</a><a class="nav-link nav-link-dark fw-normal" href="#">Politique de confidentialité</a></div>
    <p class="text-center text-lg-start order-lg-1 mb-lg-0"><span class="text-dark opacity-50">&copy;  Tous droits réservés. Conçu par </span><a class="nav-link-dark fw-bold" href="http://caauri.com//" target="_blank" rel="noopener" style="color: #26708b; text-decoration: none;">Caauri consulting</a></p>
  </div>
</footer>
<!-- Back to top button--><a class="btn-scroll-top" style="background-color: #26708b;" href="#top" data-scroll>
  <span class="btn-scroll-top-tooltip fs-sm me-2 text-muted">Haut</span><i class="btn-scroll-top-icon fi-chevron-up">   </i></a>
<!-- Vendor scrits: js libraries and plugins-->
<script src="{% static 'users/vendor/bootstrap/dist/js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'users/vendor/simplebar/dist/simplebar.min.js' %}"></script>
<script src="{% static 'users/vendor/smooth-scroll/dist/smooth-scroll.polyfills.min.js' %}"></script>
<script src="{% static 'users/vendor/nouislider/dist/nouislider.min.js' %}"></script>
<script src="{% static 'users/vendor/tiny-slider/dist/min/tiny-slider.js' %}"></script>
<!-- Main theme script-->
<script src="{% static 'users/js/theme.min.js' %}"></script>

<!-- General JS Scripts -->
<script src="{% static 'users/sweet/js2/app.min.js' %}"></script>
<!-- JS Libraies -->
<script src="{% static 'users/sweet/bundles2/sweetalert/sweetalert.min.js' %}"></script>
<!-- Page Specific JS File -->
<script src="{% static 'users/sweet/js2/page/sweetalert.js' %}"></script>



</body>
</html>