{% extends 'location/base.html' %}
{% load static %}
{% block content %}
<div class="container mt-5 mb-md-4 py-5">
  <!-- Breadcrumb-->
  <nav class="mb-3 pt-md-3" aria-label="Breadcrumb">
    <ol class="breadcrumb breadcrumb-light">
      <li class="breadcrumb-item"><a href="#">Accueil</a></li>
      <li class="breadcrumb-item"><a href="location-vehicule-par-liste.html">Véhicules</a></li>
      <li class="breadcrumb-item active" aria-current="page">{{vehicule}}</li>
    </ol>
  </nav>
  <!-- Title + Sharing-->
  <div class="d-sm-flex align-items-end align-items-md-center justify-content-between position-relative mb-4"
    style="z-index: 1025;">
    <div class="me-3">
      <h1 class="h2 text-light mb-md-0">{{vehicule}}</h1>
      <div class="d-md-none">
        <div class="d-flex align-items-center mb-3">
          <div class="text-nowrap ps-3"><span class="d-table badge " style="background-color: #033f58"
              data-bs-toggle="popover" data-bs-placement="bottom" data-bs-trigger="hover" data-bs-html="true"
              data-bs-content="&lt;div class=&quot;d-flex&quot;&gt;&lt;i class=&quot;fi-award mt-1 me-2&quot;&gt;&lt;/i&gt;&lt;div&gt;cette voiture&lt;br&gt;est en location.&lt;/div&gt;&lt;/div&gt;">En
              Location</span></div>
        </div>
        <div class="d-flex flex-wrap align-items-center text-light mb-2">
          <div class="text-nowrap border-end border-light pe-3 me-3"><i
              class="fi-dashboard fs-lg opacity-70 me-2"></i><span class="align-middle">25 Km</span></div>
          <div class="text-nowrap"><i class="fi-map-pin fs-lg opacity-70 me-2"></i><span
              class="align-middle">Abidjan</span></div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-7">
      <!-- Gallery-->
      <div class="tns-carousel-wrapper">
        <div class="tns-slides-count text-light"><i class="fi-image fs-lg me-2"></i>
          <div class="ps-1"><span class="tns-current-slide fs-5 fw-bold"></span><span class="fs-5 fw-bold">/</span><span
              class="tns-total-slides fs-5 fw-bold"></span></div>
        </div>
        <div class="tns-carousel-inner"
          data-carousel-options="{&quot;navAsThumbnails&quot;: true, &quot;navContainer&quot;: &quot;#thumbnails&quot;, &quot;gutter&quot;: 12, &quot;responsive&quot;: {&quot;0&quot;:{&quot;controls&quot;: false},&quot;500&quot;:{&quot;controls&quot;: true}}}">
            {% for img in vehicule.listAssImages %}
          <div><img class="rounded-3" src="{{img.image.url }}" alt="Image"></div>
            {% endfor %}
        </div>
      </div>
      <ul class="tns-thumbnails" id="thumbnails">
        {% for img in vehicule.listAssImages %}
        <li class="tns-thumbnail"><img src="{{ img.image.url }}"
          alt="Thumbnail"></li>
        {% endfor %}
      </ul>
      <!-- Specs-->
      <div class="py-3 mb-3">
        <h2 class="h4 text-light mb-4">Caractéristiques</h2>
        <div class="row text-light">
          <div class="col-sm-6 col-md-12 col-lg-6">
            <ul class="list-unstyled">
              <li class="mb-2"><strong>Kilométrage:</strong><span class="opacity-70 ms-1">{{vehicule.kilometrage}} Km</span></li>
              <!-- <li class="mb-2"><strong>Moteur:</strong><span class="opacity-70 ms-1">2.5L Turbo 6 Cylinder</span></li> -->
              <li class="mb-2"><strong>Transmission:</strong>
                <span class="opacity-70 ms-1">{%if vehicule.is_auto %}Automatique{% else %}Manuelle{% endif %}</span></li>
            </ul>
          </div>
          <div class="col-sm-6 col-md-12 col-lg-6">
            <!-- <ul class="list-unstyled">
              <li class="mb-2"><strong>Type de carburant:</strong><span class="opacity-70 ms-1">Essence</span></li>
              <li class="mb-2"><strong>Couleur extérieure:</strong><span class="opacity-70 ms-1">blanc tremble</span>
              </li>
              <li class="mb-2"><strong>Couleur intérieure:</strong><span class="opacity-70 ms-1">Charbon</span></li>
              <li class="mb-2"><strong>Immatriculation:</strong><span class="opacity-70 ms-1">2VW821AU9JM754284</span>
              </li>
            </ul> -->
          </div>
        </div>
      </div>
      <!-- Card with icon boxes-->
      <div class="card card-body p-4 card-light mb-4">
        <div class="row row-cols-2 row-cols-sm-4 gx-3 gx-xl-4 gy-4">
          <div class="col text-light text-center">
            <div class="d-table bg-dark rounded-3 mx-auto p-3"><img
                src="{% static 'users/img/car-finder/icons/check.svg' %}" width="48" alt="Icon"></div>
            <div class="fs-sm pt-2 mt-1">Vérifié et certifié par Goodtrip</div>
          </div>
          <div class="col text-light text-center">
            <div class="d-table bg-dark rounded-3 mx-auto p-3"><img
                src="{% static 'users/img/car-finder/icons/steering-wheel.svg' %}" width="48" alt="Icon"></div>
            <div class="fs-sm pt-2 mt-1">Propriétaire unique</div>
          </div>
          <div class="col text-light text-center">
            <div class="d-table bg-dark rounded-3 mx-auto p-3"><img
                src="{% static 'users/img/car-finder/icons/driving-test.svg' %}" width="48" alt="Icon"></div>
            <div class="fs-sm pt-2 mt-1">Bien équipé</div>
          </div>
          <div class="col text-light text-center">
            <div class="d-table bg-dark rounded-3 mx-auto p-3"><img
                src="{% static 'users/img/car-finder/icons/accident.svg' %}" width="48" alt="Icon"></div>
            <div class="fs-sm pt-2 mt-1">Aucun accident / dommage signalé</div>
          </div>
        </div>
      </div>

      <div class="pb-4 mb-3">
        <h2 class="h4 text-light pt-4 mt-3">Description du vendeur</h2>
        <p class="text-light opacity-70 mb-1">Lorem tincidunt lectus vitae id vulputate diam quam. Imperdiet non
          scelerisque turpis sed etiam ultrices. Blandit mollis dignissim egestas consectetur porttitor. Vulputate dolor
          pretium, dignissim eu augue sit ut convallis. Lectus est, magna urna feugiat sed ultricies sed in lacinia.
          Fusce potenti sit id pharetra vel ornare. Vestibulum sed tellus ullamcorper arcu.</p>
        <div class="collapse" id="seeMoreDescription">
          <p class="text-light opacity-70 mb-1">Asperiores eos molestias, aspernatur assumenda vel corporis ex, magni
            excepturi totam exercitationem quia inventore quod amet labore impedit quae distinctio? Officiis blanditiis
            consequatur alias, atque, sed est incidunt accusamus repudiandae tempora repellendus obcaecati delectus
            ducimus inventore tempore harum numquam autem eligendi culpa.</p>
        </div><a class="collapse-label collapsed" href="#seeMoreDescription" data-bs-toggle="collapse"
          data-bs-label-collapsed="En savoir plus" data-bs-label-expanded="Afficher moins" role="button" aria-expanded="false"
          aria-controls="seeMoreDescription"></a>
      </div>
      <!-- Post meta-->
      <div class="d-flex flex-wrap border-top border-light fs-sm text-light pt-4 pb-5 pb-md-2">
        <div class="border-end border-light pe-3 me-3"><span class="opacity-70">Publié: <strong>9 mai
              2021</strong></span></div>
        <div class="border-end border-light pe-3 me-3"><span class="opacity-70"> Numéro d'annonce :
            <strong>001</strong></span></div>
        <div class="opacity-70"> Vues : <strong>57</strong></div>
      </div>
    </div>
    <!-- Sidebar-->
    <div class="col-md-5 pt-5 pt-md-0" style="margin-top: -6rem;">
      <div class="sticky-top pt-5">
        <div class="d-none d-md-block pt-5">
          <div class="d-flex mb-4"><span class="d-table badge " style="background-color: #033f58"
              data-bs-toggle="popover" data-bs-placement="bottom" data-bs-trigger="hover" data-bs-html="true"
              data-bs-content="&lt;div class=&quot;d-flex&quot;&gt;&lt;i class=&quot;fi-award mt-1 me-2&quot;&gt;&lt;/i&gt;&lt;div&gt;cette voiture&lt;br&gt;est en location.&lt;/div&gt;&lt;/div&gt;">En
              Location</span></div>
          <div class="h3 text-light">{{ vehicule.per_day_price }}F CFA / Jour</div>
          <div class="d-flex align-items-center text-light pb-4 mb-2">
            <div class="text-nowrap border-end border-light pe-3 me-3">
              <i class="fi-dashboard fs-lg opacity-70 me-2"></i>
              <span class="align-middle">{{vehicule.kilometrage}} Km</span>
            </div>
            <div class="text-nowrap">
              <i class="fi-map-pin fs-lg opacity-70 me-2"></i>
              <span class="align-middle">Abidjan</span>
            </div>
          </div>
        </div>
        <div class="card card-light card-body mb-4">
          <div class="pt-4 mt-2">
            <a class="btn btn-primary btn-lg" href="#sendMail" data-bs-toggle="collapse">
              <i class="fi-credit-card me-2"></i>Ajouter au panier</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Related posts (Carousel)-->
  <h2 class="h3 text-light pt-5 pb-3 mt-md-4">Vous pourriez être intéressé(e) par</h2>
  <div class="tns-carousel-wrapper tns-controls-outside-xxl tns-nav-outside tns-carousel-light">
    <div class="tns-carousel-inner"
      data-carousel-options="{&quot;items&quot;: 3, &quot;responsive&quot;: {&quot;0&quot;:{&quot;items&quot;:1, &quot;gutter&quot;: 16},&quot;500&quot;:{&quot;items&quot;:2, &quot;gutter&quot;: 18},&quot;900&quot;:{&quot;items&quot;:3, &quot;gutter&quot;: 20}, &quot;1100&quot;:{&quot;gutter&quot;: 24}}}">
      {% for v in lastVehicule %}
      <div>
        <div class="card card-light card-hover h-100">
          <div class="card-img-top card-img-hover"><a class="img-overlay" href="{% url 'details' v.id %}"></a>
            <div class="position-absolute start-0 top-0 pt-3 ps-3">
              {% if v.estAVendre %}
              <span class="d-table badge mb-2"
                style="background-color: #f2ac2a" data-bs-toggle="popover" data-bs-placement="bottom"
                data-bs-trigger="hover" data-bs-html="true"
                data-bs-content="&lt;div class=&quot;d-flex&quot;&gt;&lt;i class=&quot;fi-award mt-1 me-2&quot;&gt;&lt;/i&gt;&lt;div&gt;Cette voiture&lt;br&gt;est en vente.&lt;/div&gt;&lt;/div&gt;">En
                vente </span>
              {% endif %}
              {% if v.estALouer %}
              <span class="d-table badge "
              style="background-color: #26708b" data-bs-toggle="popover" data-bs-placement="bottom"
              data-bs-trigger="hover" data-bs-html="true"
              data-bs-content="&lt;div class=&quot;d-flex&quot;&gt;&lt;i class=&quot;fi-award mt-1 me-2&quot;&gt;&lt;/i&gt;&lt;div&gt;Cette voiture&lt;br&gt;est en location.&lt;/div&gt;&lt;/div&gt;">En
              Location</span>
              {% endif %}
              </div>
            <div class="content-overlay end-0 top-0 pt-3 pe-3">
              <button class="btn btn-icon btn-light btn-xs text-primary rounded-circle" type="button"
                data-bs-toggle="tooltip" data-bs-placement="left" title="ajouter à mes favoris"><i
                  class="fi-heart"></i></button>
            </div><img src="{{ v.listAssImages.0.image.url }}" alt="Image">
          </div>
          <div class="card-body">

            <h3 class="h6 mb-1"><a class="nav-link-light" href="#">{{v}}</a></h3>
            <div class="text-primary fw-bold mb-1">{{v.per_day_price}} F CFA/Jour</div>
            <!-- {% if v.prix_de_vente %} -->
            <div class="text-secondary fw-bold mb-1"> F CFA/Jour</div>
            <!-- {% endif %} -->
            <div class="fs-sm text-light opacity-70"><i class="fi-map-pin me-1"></i>Abidjan</div>
          </div>
          <div class="card-footer border-0 pt-0">
            <div class="border-top border-light pt-3">
              <div class="row g-2">
                <div class="col me-sm-1">
                  <div class="bg-dark rounded text-center w-100 h-100 p-2"><i
                      class="fi-dashboard d-block h4 text-light mb-0 mx-center"></i><span class="fs-xs text-light">{{v.kilometrage}}
                      Km</span></div>
                </div>
                <div class="col me-sm-1">
                  <div class="bg-dark rounded text-center w-100 h-100 p-2"><i
                      class="fi-gearbox d-block h4 text-light mb-0 mx-center"></i><span
                      class="fs-xs text-light">{% if v.is_auto %} Automatique {% else %} Manuelle {% endif %}</span></div>
                </div>
                <div class="col">
                  <div class="bg-dark rounded text-center w-100 h-100 p-2"><i
                      class="fi-petrol d-block h4 text-light mb-0 mx-center"></i><span
                      class="fs-xs text-light">Essence</span></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
</main>
{% endblock content %}