 <!-- Content-->
          <center>
          <div class="col-lg-8 col-md-7 mb-5">
            <h1 class="h2 text-light">Réinitialisation du mot de passe</h1>
            <form class="needs-validation pb-4" novalidate>
                <div class="mb-4 col-lg-8 col-md-7">
                    <label class="form-label text-light" for="phone-number">numéro de téléphone</label>
                    <input class="form-control form-control-light" type="text" pattern="^[0-9]{10}$" id="phone-number" placeholder="Entrer votre numéro de téléphone" required>
                  </div>
                <button class="btn btn-outline-primary" type="submit">Réinitialiser le mot de passe</button>
              </form>
          </div>
        </center>
        </div>
      </div>
    </main>