  <!-- Content-->
          <center>
          <div class="col-lg-8 col-md-7 mb-5">
            <h1 class="h2 text-light">Validation de code</h1>
            <form class="needs-validation pb-4" novalidate>
                <div class="mb-4 col-lg-8 col-md-7">
                    <input class="form-control form-control-light" type="text" id="validation" placeholder="Entrer le code reçu par sms" required>
                  </div>
                <button class="btn btn-outline-primary" type="submit">Valider</button>
              </form>
          </div>
        </center>
        </div>
      </div>
    </main>