 <!-- {% debutblock content %} -->
      
      <section class="container pt-5 my-5 pb-lg-4"> </section>
      <div data-aos="flip-right"data-aos-easing="ease-out-cubic"data-aos-duration="2000">
        <div class="container mb-5">
            <div class="row">
                  <h1 class="mb-4">FAQ & ASSISTANCE</h1>
            </div>
            <div class="row d-flex justify-content-center">
              <div class="col-sm-10">
                 <h4 style="color: #fd5631; text-decoration: underline">QUEL EST LE DELAIS D'ACHEMINEMENT DE VOS PRODUITS ?</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus non mi ullamcorper, sodales diam et, eleifend erat. Pellentesque suscipit nunc sed nulla pretium, sed mollis ipsum consectetur.</p>
              </div>
              <div class="col-sm-10">
                  <h4 style="color: #fd5631; text-decoration: underline">COMMENT LE TARIF DE NOS LIVRAISONS EST APPLIQUE ?</h4>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus non mi ullamcorper, sodales diam et, eleifend erat. Pellentesque suscipit nunc sed nulla pretium, sed mollis ipsum consectetur.</p>
                </div>
                <div class="col-sm-10">
                    <h4 style="color: #fd5631; text-decoration: underline">OU SOMMES NOUS SITUEZ ?</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus non mi ullamcorper, sodales diam et, eleifend erat. Pellentesque suscipit nunc sed nulla pretium, sed mollis ipsum consectetur.</p>
                  </div>
                  <div class="col-sm-10">
                      <h4 style="color: #fd5631; text-decoration: underline">COMMENT SE FAIT LE PAIEMENT ?</h4>
                      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus non mi ullamcorper, sodales diam et, eleifend erat. Pellentesque suscipit nunc sed nulla pretium, sed mollis ipsum consectetur.</p>
                    </div>
                    <div class="col-sm-10">
                        <h4 style="color: #fd5631; text-decoration: underline">NOTRE ZONE D'INTERVENTION </h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus non mi ullamcorper, sodales diam et, eleifend erat. Pellentesque suscipit nunc sed nulla pretium, sed mollis ipsum consectetur.</p>
                      </div>
            </div>
        </div>
       </div>
     
    </main>
    <!-- {% enddebutblock content %} -->