
      <!-- {% debutblock content %} -->
      
      <section class="container pt-5 my-5 pb-lg-4"></section>

      <div class="container">
        <!-- qui sommes nous ? -->
        <div class="row">
              <div class="col-sm-12">
                  <h2>QUI SOMMES-NOUS ?</h2>
              </div>
          </div>
          <hr style="width:100%"; border:"2px solid black"></hr>
          <div data-aos="flip-right"data-aos-easing="ease-out-cubic"data-aos-duration="2000">
              <div class="row mt-5 pt-0 pt-md-2 pt-lg-0 d-flex justify-content-around">
                <div class="col-sm-4">
                  <img src="img/car-finder/catalog/02.jpg" class="car-finder">
              </div>
                <div class="col-sm-7">
                    <h1 class="section-header--title">À propos de Goodtrip</h1>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus non mi ullamcorper, sodales diam et, eleifend erat. Pellentesque suscipit nunc sed nulla pretium, sed mollis ipsum consectetur. Phasellus luctus justo ipsum. Sed condimentum neque vel enim dignissim, eget feugiat mi pulvinar. Duis lacinia ante eget maximus varius. Nunc in purus ac nunc porttitor feugiat. Nullam a eros quis urna rutrum mollis in non ex. Donec vestibulum tempus ornare. Donec auctor dapibus suscipit. Sed blandit ante nibh, eget venenatis mauris vehicula et. In convallis ante porta consequat hendrerit.</p>
                </div>
              </div>
          </div>
          <!-- nos services véhicules-->
          <div class="row mt-5">
              <div class="col-sm-12">
                  <h3>NOS SERVICES</h3>
              </div>
            </div>
            <hr style="width:100%"; border:"2px solid black"></hr>
            <div class="col-sm-11">
            <div data-aos="fade-right" data-aos-offset="400" data-aos-easing="ease-in-sine">
                <div class="row mt-5 pt-0 pt-md-2 pt-lg-0 d-flex justify-content-around">
                    <div class="col-sm-5">
                      <img src="img/car-finder/catalog/citadine.png" class="car-finder">
                  </div>
                    <div class="col-sm-6">
                        <h1 class="section-header--title">Vente et Location de Véhicules</h1>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus non mi ullamcorper, sodales diam et, eleifend erat. Pellentesque suscipit nunc sed nulla pretium, sed mollis ipsum consectetur. Phasellus luctus justo ipsum. Sed condimentum neque vel enim dignissim, eget feugiat mi pulvinar. Duis lacinia ante eget maximus varius. Nunc in purus ac nunc porttitor feugiat. Nullam a eros quis urna rutrum mollis in non ex. Donec vestibulum tempus ornare. Donec auctor dapibus suscipit. Sed blandit ante nibh, eget venenatis mauris vehicula et. In convallis ante porta consequat hendrerit.</p>
                    </div>
                </div>
              </div>
                <hr style="width:100%"; border:"2px solid black"></hr>
            <!-- nos services livraison-->
            <div class="col-sm-11 mb-5">
            <div data-aos="fade-left" data-aos-offset="500" data-aos-duration="1000">
                <div class="row mt-5 pt-0 pt-md-2 pt-lg-0 d-flex justify-content-around">
                    <div class="col-sm-6">
                        <h1 class="section-header--title">Livraison de colis</h1>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus non mi ullamcorper, sodales diam et, eleifend erat. Pellentesque suscipit nunc sed nulla pretium, sed mollis ipsum consectetur. Phasellus luctus justo ipsum. Sed condimentum neque vel enim dignissim, eget feugiat mi pulvinar. Duis lacinia ante eget maximus varius. Nunc in purus ac nunc porttitor feugiat. Nullam a eros quis urna rutrum mollis in non ex. Donec vestibulum tempus ornare. Donec auctor dapibus suscipit. Sed blandit ante nibh, eget venenatis mauris vehicula et. In convallis ante porta consequat hendrerit.</p>
                    </div>
                    <div class="col-sm-5">
                      <img src="img/real-estate/catalog/livraison.jpg" class="car-finder">
                  </div>
                  </div>
            </div>
          </div>
      </div>
     
    </main>
    <!-- {% enddebutblock content %} -->