{% load static %}
<!DOCTYPE html>
<html lang="fr">

<head>
  <meta charset="utf-8">
  <title>Goodtrip | Accueil</title>
  <!-- SEO Meta Tags-->
  <meta name="description" content="Finder - Directory &amp; Listings Bootstrap Template">
  <meta name="keywords"
    content="bootstrap, business, directory, listings, e-commerce, car dealer, city guide, real estate, job board, user account, multipurpose, ui kit, html5, css3, javascript, gallery, slider, touch">
  <meta name="author" content="Createx Studio">
  <!-- Viewport-->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Favicon and Touch Icons-->
  <link rel="apple-touch-icon" sizes="180x180" href="{% static 'users/apple-touch-icon.png' %}">
  <link rel="icon" type="image/png" sizes="32x32" href="{% static 'users/favicon-32x32.png' %}">
  <link rel="icon" type="image/png" sizes="16x16" href="{% static 'users/favicon-16x16.png' %}">
  <link rel="manifest" href="{% static 'users/site.webmanifest' %}">
  <link rel="mask-icon" color="#5bbad5" href="{% static 'users/safari-pinned-tab.svg' %}">
  
  <meta name="msapplication-TileColor" content="#766df4">
  <meta name="theme-color" content="#ffffff">
  <!-- Page loading styles-->
  <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
  <style>
    .page-loading {
      position: fixed;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 100%;
      -webkit-transition: all .4s .2s ease-in-out;
      transition: all .4s .2s ease-in-out;
      background-color: #fff;
      opacity: 0;
      visibility: hidden;
      z-index: 9999;
    }

    .page-loading.active {
      opacity: 1;
      visibility: visible;
    }

    .page-loading-inner {
      position: absolute;
      top: 50%;
      left: 0;
      width: 100%;
      text-align: center;
      -webkit-transform: translateY(-50%);
      transform: translateY(-50%);
      -webkit-transition: opacity .2s ease-in-out;
      transition: opacity .2s ease-in-out;
      opacity: 0;
    }

    .page-loading.active>.page-loading-inner {
      opacity: 1;
    }

    .page-loading-inner>span {
      display: block;
      font-size: 1rem;
      font-weight: normal;
      color: #666276;
      ;
    }

    .page-spinner {
      display: inline-block;
      width: 2.75rem;
      height: 2.75rem;
      margin-bottom: .75rem;
      vertical-align: text-bottom;
      border: .15em solid #bbb7c5;
      border-right-color: transparent;
      border-radius: 50%;
      -webkit-animation: spinner .75s linear infinite;
      animation: spinner .75s linear infinite;
    }
    

    @-webkit-keyframes spinner {
      100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
      }
    }

    @keyframes spinner {
      100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
      }
    }
    @media (max-width: 992px)
      {
        .message {
          z-index: 7; 
          position: absolute;
          margin-top: 150px;
        }
      }
  </style>
  <!-- Page loading scripts-->
  <script>
    (function () {
      window.onload = function () {
        var preloader = document.querySelector('.page-loading');
        preloader.classList.remove('active');
        setTimeout(function () {
          preloader.remove();
        }, 2000);
      };
    })();
  </script>
  <!-- Vendor Styles-->
  <link rel="stylesheet" media="screen" href="{% static 'users/vendor/simplebar/dist/simplebar.min.css' %}" />
  <!-- Main Theme Styles + Bootstrap-->
  <link rel="stylesheet" media="screen" href="{% static 'users/css/theme.min.css' %}">
</head>
<!-- Body-->
<body>
  <!-- Page loading spinner-->
  <div class="page-loading active">
    <div class="page-loading-inner">
      <div class="page-spinner"></div><span>Loading...</span>
    </div>
  </div>
  <main class="page-wrapper">
    {% if not user.is_authenticated %}
    <!-- Sign Up Modal-->
    <div class="modal fade" id="signup-modal" tabindex="-1" aria-hidden="true">
      <div class="modal-dialog modal-lg modal-dialog-centered p-2 my-0 mx-auto" style="max-width: 950px;">
        <div class="modal-content bg-dark border-light">
          <div class="modal-body px-0 py-2 py-sm-0">
            <button class="btn-close btn-close-white position-absolute top-0 end-0 mt-3 me-3" type="button"
              data-bs-dismiss="modal"></button>
            <div class="row mx-0 align-items-center" style="background-color: #033f58">
              <div class="col-md-6 border-end-md border-light p-4 p-sm-5">
                <h class="h3 text-center text-light mb-4 mb-sm-5">Inscription<br>Goodtrip</h2>
                <ul class="list-unstyled mb-4 mb-sm-5">

                </ul><img class="d-block mx-auto" src="{% static 'users/img/signin-modal/signup-dark.svg' %}"
                  width="344" alt="Illustartion">
                <div class="text-light mt-sm-4 pt-md-3"><span class="opacity-60">Déjà un compte? </span><a
                    class="text-light" href="#signin-modal" data-bs-toggle="modal"
                    data-bs-dismiss="modal">Connectez-vous ici</a></div>
              </div>
              <div class="col-md-6 px-4 pt-2 pb-4 px-sm-5 pb-sm-5 pt-md-5">

                <form action="{% url 'register' %}" method="POST" class="needs-validation" novalidate>
                  {% csrf_token %}
                  {% if error %}
                    {% ifequal anchor 'signup-modal' %}
                      <div class="alert alert-danger">{{error}} </div>
                      <div class="text-center">
                        <a href="{% url 'verify_number'%}" class="text-primary "> Faire verifier votre numéro ici <i class="fi-chevrons-right"></i></a>
                      </div>
                    {% endifequal %}
                  {% endif %}
                  <div class="mb-4">
                    <label class="form-label text-light" for="first_name">Nom</label>
                    <input class="form-control form-control-light" name="first_name" type="text" id="first_name"
                      placeholder="Entrer votre nom" required>
                  </div>
                  <div class="mb-4">
                    <label class="form-label text-light" for="last_name">Prénom</label>
                    <input class="form-control form-control-light" type="text" name="last_name" id="last_name"
                      placeholder="Entrez votre prénom" required>
                  </div>
                  <div class="mb-4">
                    <label class="form-label text-light" for="phone_number">Téléphone <span
                      class='fs-sm opacity-50'>  Au format dix (10) chiffres</span></label>
                    <input class="form-control form-control-light" type="text" maxlength="10" name="phone_number" id="phone_number"
                      placeholder="Numéro de Téléphone" required>
                  </div>
                  <div class="form-check form-check-light mb-4">
                    <input class="form-check-input" type="checkbox" id="agree-to-terms" required>
                    <label class="form-check-label" for="agree-to-terms"><span class='opacity-70'>En m'inscrivant,
                        j'accepte les</span> <a href='#' class='text-light'>Conditions d'utilisation</a> <span
                        class='opacity-70'>et la</span> <a href='#' class='text-light'>Politique de
                        confidentialité</a></label>
                  </div>
                  <button class="btn btn-primary btn-lg w-100" type="submit">S'inscrire</button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Sign In Modal-->
    <div class="modal fade" id="signin-modal" tabindex="-1" aria-hidden="true">
      <div class="modal-dialog modal-lg modal-dialog-centered p-2 my-0 mx-auto" style="max-width: 950px;">
        <div class="modal-content bg-dark border-light">
          <div class="modal-body px-0 py-2 py-sm-0">
            <button class="btn-close btn-close-white position-absolute top-0 end-0 mt-3 me-3" type="button"
              data-bs-dismiss="modal"></button>
            <div class="row mx-0 align-items-center" style="background-color: #033f58">
              <div class="col-md-6 border-end-md border-light p-4 p-sm-5">
                <h2 class="h3 text-light mb-4 mb-sm-5">Formulaire de connexion<br>Goodtrip.</h2><img
                  class="d-block mx-auto" src="{% static 'users/img/signin-modal/signin-dark.svg' %}" width="344"
                  alt="Illustartion">
                <div class="text-light mt-4 mt-sm-5"><span class="opacity-60">Pas encore de compte? </span><a
                    class="text-light" href="#signup-modal" data-bs-toggle="modal"
                    data-bs-dismiss="modal">Inscrivez-vous ici</a></div>
              </div>
              <div class="col-md-6 px-4 pt-2 pb-4 px-sm-5 pb-sm-5 pt-md-5 ">
                <form action="{% url 'user_login' %}"  method="POST" class="needs-validation" novalidate>
                  {% csrf_token %}
                  {% if error %}
                    {% ifequal anchor 'signin-modal' %}
                      <div class="alert alert-danger">{{error}}</div>
                    {% endifequal %}
                  {% endif %}
                  <div class="mb-4">
                    <label class="form-label text-light mb-2" for="id_username">Nom d'utilisateur</label>
                    <input name="id_username" class="form-control form-control-light" type="text" id="id_username"
                      placeholder="Par exemple: user_0XXXXXXXXX" required>
                  </div>
                  <div class="mb-4">
                    <div class="d-flex align-items-center justify-content-between mb-2">
                      <label class="form-label text-light mb-0" for="id_password">Mot de passe</label><a
                        class="fs-sm text-light" href="#">Mot de passe oublié?</a>
                    </div>
                    <div class="password-toggle">
                      <input type="hidden" name="next" id="next" value="{{ request.get_full_path }}">
                      <input class="form-control form-control-light" name="id_password" type="password" id="id_password"
                        placeholder="Entrer votre mot de passe" required>
                      <label class="password-toggle-btn" aria-label="Show/hide password">
                        <input class="password-toggle-check" type="checkbox"><span
                          class="password-toggle-indicator"></span>
                      </label>
                    </div>
                  </div>
                  <button class="btn btn-primary btn-lg w-100" type="submit">S'identifier</button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% endif %}
    <!-- Page content-->
    <!-- Navbar (Header)-->
    <header class="navbar navbar-expand-md navbar-light fixed-top" style="background-color: #fff;">
      <div class="container">
        <a class="navbar-brand me-2 me-xl-4" href="{% url 'dashboard' %}">
          <img class="d-block" src="{% static 'users/img/logo/logo.png' %}" width="116" alt="Goodtrip">
        </a>
        <!-- <button class="navbar-toggler ms-auto" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button><a class="btn btn-primary btn-sm rounded-pill ms-2 order-md-3" href="https://themes.getbootstrap.com/product/finder-directory-listings-template-ui-kit/" target="_blank" rel="noopener">Se connecter</a> -->
        <button class="navbar-toggler ms-auto" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
       
        <div class="collapse navbar-collapse order-md-2" id="navbarNav">
          <ul class="navbar-nav col-lg-10">
            <li class="nav-item dropdown"><a class="nav-link dropdown-toggle" href="#" role="button"
                data-bs-toggle="dropdown" aria-expanded="false">Véhicules</a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="location/"><i class="fi-car fs-bae fs-base opacity-50 me-2"></i>Location</a>
                </li>
                <li class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="#"><i class="fi-car fs-bae opacity-50 me-2"></i>Achat</a></li>
              </ul>
            </li>
            <li class="nav-item"><a class="nav-link" href="#">Livraison de colis</a></li>
            <li class="nav-item">
              <a class="nav-link" href="#services" data-scroll>Nos services</a>
            </li>
          </ul>
          {% if user.is_authenticated %}
          <ul class="navbar-nav" style="margin-right: 20px">
            <li class="nav-item dropdown">
                <a href="#" class="nav-link dropdown-toggle rounded-pill order-md-3" data-bs-toggle="dropdown" role="button" style="background-color: #f2ac2a; color: #000;">
                  <i class="fi-user me-2"></i>Mon compte</a>
                <div class="dropdown-menu" >
                  <span class="dropdown-item" data-bs-toggle="tab" role="tab" ><a style="text-decoration: none; color: #26708b;" href="{% url 'history' %}" > Profil</a></span>
                  <span class="dropdown-item" data-bs-toggle="tab" role="tab" ><a style="text-decoration: none; color: #26708b;" href="{% url 'history' %}" > Historique</a></span>
                  <hr style="height: 2px;"></hr>
                  <span class="dropdown-item" data-bs-toggle="tab" role="tab"><a href="{% url 'logout' %}?next={{ request.get_full_path }}" style="text-decoration: none; color: #26708b"><i class="fi-power me-1"></i> Deconnexion</a></span>
                </div>
              </li>
            </ul>
            {% else%}
          <a class="btn btn-sm rounded-pill order-md-3" style="background-color: #26708b; color: #fff;" href="#signin-modal" data-bs-toggle="modal">
            <i class="fi-user me-2"></i>
            Se connecter</a>
          {% endif %}
        </div>
        
      </div>
     
      
    </header>
    <!-- end header -->
    {% if message %}
    <center>
        <div class="text-center mt-5 col-md-4 col-lg-3 col-sm-6 col-xl-3">
          <div class="message alert alert-success text-center " style="z-index: 7; position: absolute; margin-top: 100px;"> {{message}}</div>
        </div>
    </center>
    {% endif%}
    {% block content %}

    {% endblock content %}
    <!-- debut footer -->

    <footer class="position-relative pb-5" style="margin-top: 5.75rem; padding-top: 9rem;">
      <div class="d-none d-xxl-block position-absolute top-0 start-0 w-100 h-100 bg-dark"
        style="border-top-left-radius: 1.875rem; border-top-right-radius: 1.875rem;"></div>

      <div class="d-xxl-none position-absolute top-0 start-0 w-100 h-100 bg-dark"></div>
      <div class="container content-overlay text-center py-md-3 py-lg-5">
        <h2 class="h3 text-light pb-3">Abonnez-vous à notre newsletter</h2>
        <div class="row justify-content-center mb-5 pb-lg-3">
          <div class="col-lg-6 col-md-7 col-sm-9">
            <form class="subscription-form validate"
              action="https://studio.us12.list-manage.com/subscribe/post?u=c7103e2c981361a6639545bd5&amp;amp;id=29ca296126"
              method="post" name="mc-embedded-subscribe-form" target="_blank" novalidate>
              <div class="form-group form-group-light rounded-pill">
                <div class="input-group flex-nowrap"><span class="input-group-text text-muted"><i
                      class="fi-mail"></i></span>
                  <input class="form-control" type="email" name="EMAIL" placeholder="Entrer votre email" required>
                </div>
                <button class="btn btn-primary rounded-pill" type="submit" name="subscribe">s'abonner*</button>
              </div>
              <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
              <div style="position: absolute; left: -5000px;" aria-hidden="true">
                <input class="subscription-form-antispam" type="text" name="b_c7103e2c981361a6639545bd5_29ca296126"
                  tabindex="-1">
              </div>
              <div class="subscription-status mx-auto"></div>
              <div class="form-text text-light fs-xs opacity-70 mt-3">*Abonnez-vous à notre newsletter pour recevoir
                toutes nos offres.</div>
            </form>
          </div>
        </div>
        <p class="fs-sm mb-0"><span class="text-light">&copy; Tous droits réservés. Conçu par </span><a
            href="http://caauri.com/" target="_blank" rel="noopener">Caauri consulting</a></p>
      </div>
    </footer>
  </main>
  <!-- Back to top button-->
  <a class="btn-scroll-top" href="#top" data-scroll><span
      class="btn-scroll-top-tooltip text-muted fs-sm me-2">Haut</span><i class="btn-scroll-top-icon fi-chevron-up">
    </i></a>
  <!-- Vendor scrits: js libraries and plugins-->
  <script src="{% static 'users/vendor/bootstrap/dist/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'users/js/jquery-3.6.0.min.js' %}"></script>
  <script src="{% static 'users/vendor/simplebar/dist/simplebar.min.js' %}"></script>
  <script src="{% static 'users/vendor/smooth-scroll/dist/smooth-scroll.polyfills.min.js' %}"></script>
  <script src="{% static 'users/vendor/tiny-slider/dist/min/tiny-slider.js' %}"></script>
  <script src="{% static 'users/vendor/jarallax/dist/jarallax.min.js' %}"></script>
  <script src="{% static 'users/vendor/jarallax/dist/jarallax-element.min.js' %}"></script>
  
  <!-- Main theme script-->
  <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
 
    <script>
      AOS.init();
    </script>
  

  <script src="{% static 'users/js/theme.min.js' %}"></script>
  {% if anchor %}
  <script>
    $(document).ready(function(){
      //Affichage du modal 
      $("#{{anchor}}").modal('show');
    })
  </script>
  {% endif %}
  <script>
  function light(el){
      if (String(el).length<2){
        return '0'+String(el)
      }
      return String(el)
  };
  function f(time){
    s = time % 60
    minutes = parseInt(time/60)
    m = minutes % 60
    hours   = parseInt(minutes/60)
    h = hours % 24
    days    = parseInt(hours/24)
    d = days % 365
    data = {
      'd':light(d),
      'h':h,
      'm':light(m),
      's':light(s),
      }
    return data;
  };

  </script>

  <script text="javascript">
    setTimeout(fade_out, 5000);
    function fade_out() {
        $(".message").fadeOut().empty();
    }

</script>
{% if time %}
  <script>
  var time ={{time}}+1;
  el = document.getElementById('count')
  setTimeout(function(){
    data = f(time)
    el.innerText = data.d+"j "+data.h+"h : "+data.m+"m : "+data.s
    time = time-1
  },1000)
  </script>
{% endif %}
</body>

</html>